*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: white;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer; 
}
.btn{
  background-color: bisque;
  color: #212121;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width:1200px){
  .btn{
    padding: 14px 22px;
  }
}